{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<form method="post">
  {% csrf_token %}
  {% if validlink %}
  <small>Welcome to the <b>password reset process!</b> To complete the process, please enter your new password in both
    fields below. Make sure your new password is strong and secure, and avoid using the same password as other accounts
    or websites. When you are finished, click the 'Change Password' button to complete the password reset
    process.</small>
  <fieldset class="module aligned">
    <div class="form-row field-password1">
      <label for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" autocomplete="new-password" class="password" width="100%" required
        id="id_new_password1">
    </div>
    <div class="form-row field-password2">

      <label for="id_new_password2">Confirm password:</label>
      <input type="password" name="new_password2" width="100%" autocomplete="new-password" class="password" required
        id="id_new_password2">
    </div><i class="uil uil-eye-slash showHidePw" style="color: blue; font-size: 25px; float:right;"></i>
    {% if form.errors %}
    <div class="form-errors">
      <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}


    <button class="request-btn" type="submit" name="action"><i class="fas fa-key"></i>Change Passsword</button>
  </fieldset>
  {% else %}
  <p>Password reset link has expired or has already been used.</p>
  <p>Please click <a href="{% url 'account_check' %}">here</a> to request for a new link to reset your password.</p>
  {% endif %}
</form>

<script>
  const pwShowHide = document.querySelectorAll(".showHidePw"),
    pwFields = document.querySelectorAll(".password"),
    signUp = document.querySelector(".signup-link"),
    login = document.querySelector(".login-link");

  //   js code to show/hide password and change icon
  pwShowHide.forEach(eyeIcon => {
    eyeIcon.addEventListener("click", () => {
      pwFields.forEach(pwField => {
        if (pwField.type === "password") {
          pwField.type = "text";

          pwShowHide.forEach(icon => {
            icon.classList.replace("uil-eye-slash", "uil-eye");
          })
        } else {
          pwField.type = "password";

          pwShowHide.forEach(icon => {
            icon.classList.replace("uil-eye", "uil-eye-slash");
          })
        }
      })
    })
  })
</script>
{% endblock %}