{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
<form method="post" role="form" id="password_reset_form" action="">
  {% csrf_token %}
  {{ form.id }}
  <h1>Password Reset</h1><br>
  <p>You are about to request a password reset email to change your password. You will receive an email with instructions on how to reset your password. If you do not receive an email, please check your spam folder or <a href="{% url 'account_check' %}">try again.</a></p><br>
  
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      {% if "info" in message.tags %}
        <li class="info">{{ message }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
  <input type="hidden" name="email" autocomplete="email" maxlength="254" required id="id_email" id="email" value="{% if messages %}{% for message in messages %}{% if 'success' in message.tags %}{{ message }}{% endif %}{% endfor %}{% endif %}">
  <button class="request-btn" type="submit" name="action"><i class="fas fa-envelope"></i>Request Password Reset Email</button>
</form><br><br>
{% endblock %}